.card-item {
  width: 220px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #000000;
  font-style: normal;
  padding: 33px;
  margin: 10px;
}

.card-item__img {
  margin-bottom: 15px;
}

.card-item__title {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.card-item__price {
  font-family: Inter;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  opacity: 0.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.card-item__cost {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
}
